@media (max-width:990px) {
  .home-container .intro-container {
    padding-left: 30px;
    padding-right: 30px
  }

  .home-container .intro-container .welcome-chisai {
    text-align: center
  }

  .tokenomics-pay .cat {
    text-align: center;
    transform: translateX(0)
  }

  .roadmap-section .roadmap-q3 {
    padding-top: 60px;
    padding-bottom: 20px
  }

  .roadmap-section .roadmap-q4 {
    padding-bottom: 20px
  }

  .roadmap-section .roadmap-q1 {
    padding-bottom: 20px
  }

  .roadmap-section .roadmap-q1 .cat {
    display: none
  }

  .whitepaper-section .view {
    padding-top: 30px;
    text-align: center
  }

  .contact-us-section img.cat {
    width: 200px;
  }
}

@media (max-width:768px) {
  .title-1 {
    font-size: 4rem
  }
  
  .title-2 {
    font-size: 3rem
  }

  .title-3 {
    font-size: 3.5rem
  }

  .intro {
    font-size: 1rem
  }

  .home-container {
    padding-bottom: 200px;
  }

  .characteristic {
    font-size: 1.2rem
  }

  .home-container .intro-container {
    padding-left: 30px;
    padding-right: 30px
  }

  .home-container .intro-container .welcome-chisai {
    text-align: center
  }

  .home-container .follow-us {
    left: 3%;
    font-size: 2rem;
    bottom: 0px;
    letter-spacing: 0px
  }

  .home-container .follow-us ul {
    margin-bottom: 0;
    padding-top: 2px;
    padding-left: 0
  }

  .tokenomics-pay .container {
    padding: 40px;
  }

  .tokenomics-whale .background img {
    position: relative
  }

  .live-stats-container {
    font-size: 1.2rem
  }

  .live-stats-container .stats {
    padding-bottom: 20px
  }

  .contact-us-section .label {
    font-size: 1.25rem
  }

  .contact-us-section img.cat {
    width: 250px
  }

  .follow-us-section img {
    width: 58px;
    height: 50px
  }
}

@media (max-width:576px) {
  .home-container {
    padding-bottom: 100px
  }

  .home-container img.cat {
    width: 200px
  }

  .welcome-chisai .token-name::before {
    background-size: 30px 30px;
    left: -20px;
    top: -20px
  }

  .welcome-chisai .token-name::after {
    background-size: 30px 30px;
    right: -120px
  }

  .home-container .chisai-btn-group {
    text-align: center
  }

  .home-container .chisai-btn-group img {
    height: 50px
  }

  .home-container .follow-us {
    font-size: 1rem;
    letter-spacing: 0px
  }

  .home-container .follow-us ul {
    margin-bottom: 0;
    padding-top: 2px;
    padding-left: 0
  }

  .home-container .follow-us img {
    width: 21px;
    height: 18px
  }
  
  .tokenomics-pay .cat img {
    width: 200px
  }
  
  .tokenomics-whale .background img {
    width: 200px
  }

  .live-stats-section .header .title {
    bottom: 10px
  }
  
  .roadmap-section .balloon {
    padding: 50px 25px;
    width: 100%
  }

  .whitepaper-container .cat img {
    width: 200px
  }

  .contact-us-section img.cat {
    width: 100px
  }

  .chisai-btn.view img {
    height: 50px;
  }

  .chisai-btn.send img {
    height: 50px;
  }
}

@media (min-width:768px) {
  .home-container {
    padding-bottom: 250px;
  }

  .tokenomics-whale .anti-intro {
    padding-right: 420px;
  }
}

@media (min-width:990px) {
  .home-container {
    padding-bottom: 250px;
  }
}

@media (min-width:1200px) {
  .home-container {
    padding-bottom: 300px;
  }
}

@media (min-width:1400px) {
  .home-container {
    padding-bottom: 350px;
  }
}