/* ================================================
// ************************************************
//
// Chisai CSS
//
// ************************************************
================================================ */

@font-face {
  font-family: 'Lapsus-Pro-Bold';
    src:  url('../fonts/Lapsus-Pro-Bold.ttf.woff') format('woff'),
    url('../fonts/Lapsus-Pro-Bold.ttf.svg#Lapsus-Pro-Bold') format('svg'),
    url('../fonts/Lapsus-Pro-Bold.ttf.eot'),
    url('../fonts/Lapsus-Pro-Bold.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Poppins-Medium';
  src:url('../fonts/Poppins-Medium.ttf.woff') format('woff'),
      url('../fonts/Poppins-Medium.ttf.svg#Poppins-Medium') format('svg'),
      url('../fonts/Poppins-Medium.ttf.eot'),
      url('../fonts/Poppins-Medium.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka-One';
  src:url('../fonts/Fredoka-One.ttf.woff') format('woff'),
      url('../fonts/Fredoka-One.ttf.svg#Fredoka-One') format('svg'),
      url('../fonts/Fredoka-One.ttf.eot'),
      url('../fonts/Fredoka-One.ttf.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: 'Poppins-Medium';
  font-size: 1rem;
  color: #788992
}

ol,ul {
  list-style: none
}

ol li,ul li {
  display: inline-block
}

a {
  font-family: 'Fredoka-One';
  color: #f7746b
}

a.active,
a:hover {
  color: #a0cac6
}

/* .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0;
  padding-left: 0;
} */

.container2 {
  width: 100%;
}

.navigation-navbar {
  position: relative
}

.navigation-bar {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 60px;
  padding-bottom: 30px;
  margin-bottom: 0px
}

.navigation-bar .nav-item {
  font-size: 1.5rem
}

.navigation-navbar .background {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1
}

.title-1 {
  font-family: 'Lapsus-Pro-Bold';
  font-size: 7rem;
  font-weight: 700;
  line-height: 0.9;
  color: #f7746b
}

.title-2 {
  font-family: 'Lapsus-Pro-Bold';
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  color: #f7746b
}

.title-3 {
  font-family: 'Lapsus-Pro-Bold';
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
  color: #f7746b
}

.intro {
  font-family: 'Poppins-Medium';
  color: #819199;
  font-size: 1.25rem;
  line-height: 1.5
}

.characteristic {
  background-image: url(../img/home/heart2.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position-y: 0px;
  padding-left: 40px;
  padding-bottom: 15px;
  line-height: 1;
  /* letter-spacing: 1px; */
  font-size: 1.8rem
}

.home-section {
}

.welcome-chisai .token-name {
  position: relative
}

.welcome-chisai .token-name::before {
  content: '';
  position: absolute;
  background: url(../img/home/heart1.png) no-repeat;
  width: 100px; 
  height: 100px;
  left: -70px;
  top: -50px
}

.welcome-chisai .token-name::after {
  content: ' ';
  position: absolute;
  background: url(../img/home/heart2.png) no-repeat;
  width: 100px; 
  height: 100px;
  right: -150px;
  top: 0
}

.intro-container {
  margin-top: 60px;
}

.intro-container ul {
  padding-left: 0px
}

.intro-container ul li {
  padding-right: 10px
}

.home-container {
  position: relative;
  padding-bottom: 350px
}

.home-container .background {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1
}

/* .home-container::after {
  content: ' ';
  background: url(../img/home/back2.png) no-repeat;
  background-size: auto;
  width: 100%; 
  height: 380px;
  position: absolute;
  bottom: 0px;
  z-index: -1
} */

.chisai-btn.buy-now img {
  width: 230px;
  height: 80px
}

.chisai-btn.live-chart img {
  width: 190px;
  height: 60px
}

.chisai-btn.copy-address img {
  width: 190px;
  height: 60px
}

.chisai-btn.contract-address img {
  height: 310px;
  height: 60px
}

.chisai-btn.view img {
  height: 137px;
  height: 65px
}

.chisai-btn.send img {
  height: 137px;
  height: 65px
}

.home-container .follow-us {
  font-family: 'Lapsus-Pro-Bold';
  font-size: 40pt;
  letter-spacing: 5px;
  line-height: 1;
  color: #fff;
  position: absolute;
  bottom: 45px;
  left: 63px
}

.home-container .follow-us ul {
  font-size: 0;
  padding-top: 10px;
  padding-left: 10px
}

.home-container .follow-us img {
  width: 41px;
  height: 38px
}

.tokenomics-section {
  background-color: #6aa7fb;
  padding-top: 45px
}

.tokenomics-pay .container {
  padding: 70px 50px 50px 50px;
  border-radius: 60px;
  background-color: #fff;
  margin: auto;
  position: relative
}

.tokenomics-pay .pay-to-hold {
  padding-top: 50px
}

.tokenomics-pay .cat {
  transform: translateY(-20%)
}

.tokenomics-pay .swirl {
  width: 30%;
  position: absolute;
  right: -10%;
  top: -7%
}

.tokenomics-whale {
  padding-top: 80px;
}

.tokenomics-whale .container {
  padding: 50px;
  border-radius: 60px;
  background: #fff;
  margin: auto;
  position: relative
}

.tokenomics-whale .background {
  min-width: 480px;
  height: 30px
}

.tokenomics-whale .background img {
  position: absolute;
  right: 25px;
  top: 0px
}

.tokenomics-section .footer {
  padding-top: 80px;
}

.live-stats-section {
  background-color: #fff
}

.live-stats-section .header {
  position: relative
}

.live-stats-section .header .title {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 30px
}

.live-stats-container {
  padding: 30px;
  font-size: 1.5rem;
  font-weight: 700
}

.live-stats-container .stats {
  padding-top: 80px
}

.roadmap-section {
  background-color: #e29937
}

.roadmap-section .header {
}

.roadmap-section .balloon {
  padding: 70px 30px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  border-radius: 60px;
  width: 530px
}

.roadmap-section .roadmap-q3 {
  padding-top: 130px
}

.roadmap-section .roadmap-q4 {
  transform: translateY(-5%)
}

.roadmap-section .roadmap-q1 {
  transform: translateY(-10%)
}

.roadmap-section .footer {
  padding-top: 80px;
}

.whitepaper-section {
  color: #fff;
}

.whitepaper-section .footer {
  padding-top: 80px;
}

.contact-us-section {
  background-color: #6aa7fb;
  padding-top: 45px;
  padding-bottom: 160px
}

.contact-us-section .container {
  padding: 100px 70px 50px 70px;
  border-radius: 60px;
  margin: auto;
  background-color: #fff;
  position: relative
}

.contact-us-section .label {
  font-size: 2.5rem;
  line-height: 1
}

.contact-us-section img.cat {
  position: absolute;
  right: -9%;
  bottom: 0px
}

.follow-us-section {
  background-color: #fff
}

.follow-us-section .container {
  margin: 80px 50px
}

.follow-us-section img {
  width: 68px;
  height: 62px
}